body{
    margin: 0px;
    
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(98, 12, 155);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    list-style: none;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(114, 29, 193);
}
.navbar li{
    float: left;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}
