body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
{
    text-align: left;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(98, 12, 155);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: blueviolet;
}
.navbar li{
    float: right;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
