h1{
    text-align: center;
}
.navbar{
    list-style-type: none;
    text-decoration: none;
    background-color: hsl(0, 1%, 25%);
    padding: 0px;
    margin: 0px;
    margin: 0 auto;
}


 image{
    width: 300px;
    height: 300px;
}
.button {
    color: rgb(14, 12, 152);
}