h1{
    text-align: center;
}
.navbar{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    margin: 0 auto;
}


 image{
    width: 600px;
    height: 600px;
}
.button {
    columns: purple;
}